.item-container {
	width: 1250px;
	margin: 0 auto;
}
a:hover {
	font-weight: bold;
}
button:hover {
	font-weight: bold;
	 box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
}
button {
	cursor: pointer;
}
a {
	cursor: pointer;
}

/* 아이템 메인페이지 로고 */
.item-logo {
	background-image: url(../images/apples-g77b740d55_1920.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	height: 500px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.item-logo-text {
	width: 1200px;
}

.item-logo>.item-logo-text> p {
	color: white;
	text-align: center;
	font-weight: bold;
}

.item-logo>.item-logo-text> #text1 {
	font-size: 70px;
}


/*itemList---------------------------------- */
.itemList-main {
	display: inline-block;
	margin: 20px 0;
	font-family: 'Noto Sans KR', 산세리프;
	width: 1050px;
	background: #f9f9f9;
}

.itemList-main .card {
	display: inline-block;
	float: left;
	background: #f9f9f9;
	padding: 10px;
	width: 210px;
	align-items: center;
	text-align: center;
}

.itemList-main .card img {
	width: 100%;
	height: 160px;
	object-fit: cover;
	margin-bottom: 10px;
	border-radius: 20px;
}

.itemList-main .itemName {
	margin: 5px 0;
	color: #F07D00;
	font-weight:bold; 
	font-size: 14px;
}

.card {
	transition: all 0.2s linear;
}

.card:hover {
	transform: scale(1.1);
	box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
	border-radius: 10px;
	z-index: 2;
}

.itemList-main .card p {
	margin: 5px 0;
	font-size: 10px;
	font-weight: bold;
}
/* 아이템 추가 버튼 */
.ListInsert-btn {
    display: inline-block;
    width: 100%;
    padding-top: 1px;
    height: 34px;
    margin-top: 5px;
    border: 1px solid #ccc;
    font-size: 12px;
    background-color: #52AE32;
    border-color: #52AE32;
    color: #fff;
}
/*상품리스트로 돌아가기 버튼*/
.List-btn {
    display: inline-block;
    width: 100%;
    padding-top: 1px;
    height: 34px;
    margin-top: 5px;
    border: 1px solid #ccc;
    font-size: 12px;
	background-color: transparent;
	color: rgb(119, 119, 119);
}

/*item 상세페이지*/


/* 아이템 삭제 버튼 */
.remove-button {
	display: block;
	width: 45px;
	padding-top: 1px;
	height: 34px;
	margin-top: 5px;
	border: 1px solid #ccc;
	font-size: 7px;
	background-color: #ff3e3e;
	border-color: #ff3e3e;
	color: #fff;
}

.modal-header{
	height: 60px;
    margin-top: -10px;
}

.Update-button {
	display: block;
	width: 45px;
	padding-top: 1px;
	height: 34px;
	margin-top: 5px;
	border: 1px solid #ccc;
	font-size: 7px;
	background-color: #ff3e3e;
	border-color: #ff3e3e;
	color: #fff;
}
.modal-title{
    margin-left: 20px;
    font-size: 25px;
    font-weight: bold;
}
#item-select {
	width: 815px;
	height: 400px;
	display: flex;
	justify-content: center;
	align-items: center;
}

/*상세페이지 로고 이미지*/
#itemSelect-img {
	width: 350px;
	height: 400px;
}

#itemSelect-img>img {
	object-fit: cover;
	width: 300px;
	height: 400px;
	border-radius: 20px;
}

/*상세페이지 설명 박스*/
.info-area {
	width: 400px;
	height: 350px;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	
}
.info-area_title {
	width: 49%;
	display: inline-block;
	text-align: left;
}

input.cartCount {
    font-size: 30px;
    border: 0;
    width: 40px;
}
/* 상품 이름상자 ---------------------------*/
.info-area_name {
	font-size: 30px;
	font-weight: bold;
}
/* 상품 가격 상자 ---------------------------*/
.info-area_price {
	font-size: 29px;
	width: 49%;
	display: inline-block;
	text-align: left;
}
#modalItemPrice{
	margin-left: 15px;
	font-size: 30px;
}
.won{
	font-size: 15px;
}
/* 재고 수량 상자 ----------------------------*/
.info-area_itemCount{
	text-align:right;
	width:49%;
	display: inline-block;
	font-style :#b8b8b8;
	padding-right: 10px;
}
/* 생산지 상자 ------------------------------*/
.info-area_farmBox {
	width: 100%;
	display: inline-block;
	padding: 5px 10px 20px 10px;
	text-align: right;
	border-bottom: 1px solid #ccc;
}

.info-area_farm {
	text-align:right;
	width:49%;
	display: inline-block;
}
#modalItemLocal{
	font-size: 20px;
    color: #b8b8b8;
    margin-top: 5px;
}
/* 수량 상자-------------------------------- */
.item-sulyangBox {
	margin-top:20px;
	width: 100%;
	display: inline-block;
	padding: 5px 10px;
	text-align: right;
}

.info-area_number {
	text-align:right;
	width:49%;
	display: inline-block;
}

/* 상품금액 상자 -----------------------------*/
.info-area_priceBox {
	width: 100%;
	display: inline-block;
	margin: auto;
	padding: 5px 10px;
	text-align: right;
}
.total_price {
	text-align:right;
	width:49%;
	display: inline-block;
}
#total_price {
	font-size: 30px;
	padding-right: 5px;
}
/* 장바구니 버튼---------------------------- */
.info-area_btn {
	margin-top: 20px;
	display: block;
	text-align: center;
	width: 100%;
	margin-bottom: 0;
}

#info-area_btn {
	width: 100%;
	height: 70px;
	background: #918c00;
	border: 1px solid #918c00;
	color: #FFF;
	font-size: 20px;
}

/*side bar---------------------------------*/
aside {
    width: 200px;
    display: inline-block;
    float: left;
    margin: 25px 0;
    height: 700px;
}

.sidebar>li {
    position: relative;
    display: block;
    height: 44px;
    font-size: 13px;
    letter-spacing: -1px;
	background-color: #52AE32;
    text-indent: 24px;
    line-height: 42px;
    cursor: pointer;
	border-bottom: 0.2px solid #ddd;
}
.sidebar>li> a {
    color: white;
    display: block;
}
.sidebar > li:hover {
    background-color: #fff;
}

.sidebar > li:hover a {
    color: #52AE32;
}

.sidebar > li:hover ul.subBar {
    display: block;
    position: absolute;
    top: 0;
    left: 100%;
    background-color:#fff;
    z-index: 3;
   	border: 1 solid black; 
}
.sidebar > li ul.subBar {
    display: none;
    width: 200px;
	z-index: 3;
	border: 1px solid black; 
}

.sidebar > li ul.subBar > li {
    margin: 5px 0;
    font-size: 14px;
}

.sidebar > li ul.subBar > li > a {
    transition: color 0.3s ease;
    display: block;
}

.sidebar > li ul.subBar > li:hover {
	background-color: #52AE32;
    margin: 5px 0;
    font-size: 14px;
    display: block;
}
.sidebar > li ul.subBar > li:hover a {
    color: white;
}

/* 상품설명 상자---------------------------- */
.info-area_content {
	display: block;
}

/* 아이템 글쓰기 페이지 ---------------*/
.item-Form-main {
     padding: 111 0;
	display: flex;
	justify-content: center;
	width: 700px;
	text-align: center;
}

.item-Form-main h1 {
	margin: 20px;
}

.item-Form-main table {
	width: 90%;
	border-collapse: collapse;
	margin-bottom: 20px;
	height: 
}

.item-Form-main th,
.item-Form-main td {
	padding: 10px;
	border-bottom: 1px solid #ddd;
	text-align: center;
	width: 300px;
}

.item-Form-main td input {
	width: 100%;
	padding: 5px;
}
