* {
	margin: 0; 
	padding: 0;
	list-style: none;
	text-decoration: none;
	color: black;
}

body {
	font-family: 'Open Sans', Arial, sans-serif;
	background: white;
	margin: 0 auto;
}

body .container {
	width: 900px;
	margin: 0 auto;

}
a {
	color: #73a839;
	text-decoration: none;
}

a:hover {
	color: #588c2e;
}

h3 {
	color: #F07D00;
}

/*header-------------------------------------------------------*/
header {
	width: 900px;
	height: 120px;
	padding: 20px 0;
	background: #fff;
	margin: 0 auto;
}

header .top-links {
	display: inline-block;
	margin: 0 5px;
	float: right;
	width: 35%;
	padding-bottom: 0px;
}

header .top-links a {
	margin: 5px;
	color: black;
	float: right;
	font-size: x-small;
	font-weight: bold;
	align :left;
}
header .logo {
	width: 200px;
	margin-bottom: 20px;
	display: inline-block;
	float: left;
}
header .middle-links {
	margin-top: 30px;
	display: inline-block;
	width: 650px;
	height: 20px;
	font-weight: bold;
	float: right;
}

.middle-links>li:hover {
	background-color: rgb(0, 0, 0);
	color: rgb(255, 145, 0);
}

.middle-nav>li {
	display: inline-block;
	list-style: none;
	width: 100px;
	text-align: center;
	padding: 5px 0;
	position: relative;
	float: right;
}

.navimg {
	width: 100%;
	height: 14em;
	margin-top: -20px;
}
/*sidebar--------------------------------------------*/
aside {
	width : 150px;
	height: 1000px;
	background: #f9f9f9;
	display: inline-block;
	float: left;
	margin: 20px 0;
}
aside>.sidebar li,h3 {
	margin: 20px;
	font-size: small;
	
	
}
/*main----------------------------------------------*/
.main {
	display: inline-block;
	width : 700px;
	height: 1000px;
	background: #fff;
	margin: 20px 0;
}

.main>.card {
	display: inline-block;
	float: left;
	background: #f9f9f9;
	padding: 20px;    
	width: 193px;
}

.main>.card img {
	width: 100%;
	height: 200px;
	object-fit: cover;
	margin-bottom: 15px;
}

.main>.card h3 {
	margin: 10px 0;
	color: #F07D00;
}

/*footer-------------------------------------------------------*/
footer * {
	text-align: left;
}

footer {
	background-color: #52AE32;
	width:900px;
	height: 170px;
	margin: 0 auto;
}

footer>.footer-logo>a>img {
	width: 200px;
	margin: 20px;
	align-self: flex-start;
	display: inline-block;
	float: left;
}

footer .footer-small-logo img {
	width: 20px;
	height: auto;
}

.first-page .greenLine{
	padding-top :50px; 
	height : 30px;
	width : 150px;
	display: block;
	margin: 0 auto;
}
.first-page .greenLine>img{
	width : 150px;
	display: block;
	margin: 0 auto;
}

.first-page {
	margin: 0 auto;
	text-align: center;
	width : 900px;
	height: 1100px;
	background: #fff;
}

.first-page .card {
	display: inline-block;
	float: left;
	margin: 10px;    
	width: 280px;
	height: 400px;
}

.first-page .card img {
	width: 280px;
	height: 280px;
}

.first-page .card h3 {
	margin: 10px 0;
	color: #F07D00;
}
.first-page h5 {
	text-align: left;
    margin: 5px 0;
    color: #F07D00;
}
.first-page .card p {
   font-size:small;
   text-align: left;
}
.index-text {
	width: 900px;
	height: 200px;
	display: block;
}	
.index-text p{
	text-align: left;
 	font-size: small;
}
.first-card {
	width: 900px;
	height: 450px;
}
.last-card {
	width: 900px;
	height: 450px;
}
