<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="com.kh.finalProject.orderDetail.model.dao.OrderDetailDao">
	<resultMap type="orderdetail" id="orderdetailMap"></resultMap>


<!--관리자 mapper-->	
<select id="adminSelectOrder" resultMap="orderdetailMap">
	select *
	from ORDER_DETAIL
</select>

<delete id="adminOrderDelete"> 
	DELETE
	FROM ORDER_DETAIL
	WHERE DETAIL_NO = #{detailNo}
</delete>

<update id="adminOrderUpdate">
	UPDATE ORDER_DETAIL
	SET DETAIL_NO = #{detailNo},
		ORDERS_NO = #{ordersNo},
		ITEM_NO = #{itemNo},
		DETAIL_PRICE = #{detailPrice},
		DETAIL_COUNT = #{detailCount},
		ITEM_NAME = #{itemName},
		default
	WHERE DETAIL_NO = #{detailNo}
</update>

<!--관리자 mapper end-->	

<insert id="orderDetailInsert">
	INSERT INTO ORDER_DETAIL
		VALUES(
			SEQ_ORDETAIL.NEXTVAL,
			#{ordersNo},
			#{itemNo},
			#{detailPrice},
			#{detailCount},
			#{itemName},
			'배송준비중',
			#{memId},
			#{memName}
		)
</insert>






</mapper>