@charset "UTF-8";

body {font-family: Arial, sans-serif;}
.form-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
.form-container h3 {
    margin-top: 0;
    margin-bottom: 20px;
    color: #4caf50;
    font-size: 20px;
}
.form-container label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}
.form-container input[type="text"],
.form-container input[type="password"],
.form-container input[type="number"],
.form-container input[type="tel"],
.form-container input[type="email"],
.form-container input[type="date"],
.form-container textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    }
.form-container .form-row {
    display: flex;
    align-items: center;
}
.form-container .form-row .form-col {
    flex: 1;
    margin-right: 10px;
}
.form-container input[type="submit"],
.form-container input[type="button"],
.form-container input[type="reset"] {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #4caf50;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.form-container input[type="submit"]:hover,
.form-container input[type="reset"]:hover {
    background-color: #45a049;
}