@charset "UTF-8";

#login-from {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 75%;
}

#container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 300px;
  margin: 0 auto;
}

#loginBox {
  width: 300px;
  text-align: center;
  background-color: #ffffff;
  margin: 0 auto;
}
.input-form-box {
  border: 0px solid #ff0000;
  display: flex;
  margin-bottom: 5px;
}
.input-form-box > span {
  display: block;
  text-align: left;
  padding-top: 5px;
  min-width: 65px;
}
.button-login-box {
  margin: 10px 0;
}

.btn-primary{
	background: linear-gradient(to right, #377909, #ffc400);
	border: none;
}

#loginBoxTitle {
  color:#000000;
  font-weight: bold;
  font-size: 32px;
  text-transform: uppercase;
  padding: 5px;
  margin-bottom: 20px;
  background: linear-gradient(to right, #377909, #ffc400);
 /*  background: linear-gradient(to right, #270a09, #8ca6ce); */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#inputBox {
  margin: 10px;
}

#inputBox button {
  padding: 3px 5px;
}