<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="com.kh.finalProject.reservation.model.dao.ReservationDao">
<resultMap type="reservation" id="reservationMap"></resultMap>
	<insert id="insertReservation">
		insert into reservation
		values (
			#{rNo},
			#{mId},
			#{fNo},
			#{rZone},
			#{rStatus},
			#{rStart},
			#{rPrice},
			#{rItem}
		  )
	</insert>

<!-- 관리자 -->
	<select id="getadminRezList" resultMap="reservationMap">
		select *
		from RESERVATION
	</select>
	
    <delete id="adminRezDelete">
		DELETE
		FROM RESERVATION
		WHERE REZ_NO = #{rezNo}	
	</delete>
	<update id="adminRezUpdate">
		UPDATE RESERVATION
		SET REZ_NO = #{rezNo},
			MEM_ID = #{memId},
			FARM_NO	= #{farmNo},
			REZ_ZONE = #{rezZone},
			REZ_STATUS = #{rezStatus},
			REZ_START = #{rezStart},
			REZ_PRICE = #{rezPrice},
			REZ_ITEM = #{rezItem}
		WHERE REZ_NO = #{rezNo}
	</update>
 


</mapper>